<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloWorld" class = "c5.definition.inheritance.HelloWorld">
		<property name = "firstMessage" value = "Hello World!"/>
		<property name = "secondMessage" value = "Hello Second World!"/>
	</bean>
	
   <bean id = "helloScotland" class = "c5.definition.inheritance.HelloScotland" parent = "helloWorld">
		<property name = "firstMessage" value = "Hello Scotland!"/>
		<property name = "thirdMessage" value = "Hello Second Scotland!"/>
	</bean>	
	
</beans>